* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    li {
        list-style-type: none;
    }
}

.game-conteiner {
    position:relative;
    display: flex;
    margin: auto;
    height: auto;

    &__bourd {
        display: flex;
        flex-wrap: wrap;
        background-color: red;
    }
    &__info {
        background-color: green;
    }
    &__cell {
        background-color: yellow;
        cursor: pointer;
        border: solid 0.5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__menu {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.753);
    }
    .hidden{
        display: none;
    }
}
